.layout {
  display: flex;
  height: 100vh;

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__page {
    padding: 24px;
    overflow-y: auto;
    flex: 1;
  }
}
